.form-container {
    width: 400px;
    height: fit-content;
    margin: 20px auto;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    padding: 30px;
    box-shadow: -10px 10px #ff990099;
}

.form-title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    letter-spacing: 0.0025em;
    color: #2A414F;
    text-align: center;
}

.form-control {
    margin-bottom: 20px;
}

.form-control label {
    display: block;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.0015em;
    margin-bottom: 10px;
    color: #2A414F;
}

.form-control input {
    width: 95%;
    height: 40px;
    border: 1px solid #95A0A7;
    border-radius: 5px;
    font-size: 1.5em;
    padding-left: 10px;
}

.btn-submit {
    width: 99%;
    height: 40px;
    background: rgba(255, 153, 0, 0.3);
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;
    color: #0E161A;
}

.btn-submit:hover {
    background: #ff990099;
}