.Nav {
    height: 10vh;
    background-color: #2d545e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    color:  #e1b382;
    position: sticky;
    top: 0;
}

nav.Nav a{
    text-decoration: none;
    color:  #e1b382;
    margin-left: 30px;
}
nav.Nav a:hover{
    color: #ca8e57;
}

.text-white{
    color: white;
    padding-left: 5px;
}

.btn-out{
    background-color: #FFFFFF;
    color: black;
}

.profile {
    display: flex;
    align-items: center;
    gap: 5px;
}
.profile img{
    width: 30px;
    border-radius: 50%;
}
.navigation {
    display: flex;
}

.Nav a.active {
    color: red;
  }

  @media (max-width: 768px){
    .Nav{
        height: fit-content;
        flex-direction: column;
    }
    .cards {
         padding: 20px 40px;
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
      .banner-content {
        text-align: center;
        color: #c9b6a2;
        font-size: 1.5rem;
      }
      .footer {
        padding: 40px;
        text-align: center;
    }
  }